<div class="quiz-container">
  <div class="quiz-title">My Quiz List</div>
  <div class="quiz-box-container">
    <% @my_quizzes.each_with_index do |quiz, index| %>
      <% condition = @recently_created && index == 0 %>
      <div class="quiz-box <%= condition ? 'new_quiz_background' : '' %>">
        <%= link_to quiz_path(quiz), class: "no-underline" do %>
          <div class="quiz-content">
            <div class="content">
              <div>
                <h3><%= quiz.title %></h3>
              </div>
              <div>
                <%= link_to quiz_path(quiz), class: "no-underline", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your Quiz?" } do %>
                  <i class="fa-regular fa-circle-xmark fa-lg" style="color: #e50b0b;"></i>
                <% end %>
              </div>
            </div>
            <div class="content">
              <div class="donut">
              	<div class="donut__gap">75%</div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
