<div class="quiz-container">
  <h2>Your Quiz List</h2>
    <div class="card-container">
       <% @quizzes.each do |quiz| %>
         <div class="quiz-card">
            <%= link_to quiz_path(quiz), class: "no-underline" do %>
              <div class="card-content">
                <div class="text"><h3><%= quiz.title %></h3></div>
                <div class="icon"><i class="fa-regular fa-circle-check fa-2xl" style="color: #63E6BE;"></i></div>
              </div>
            <% end %>
          </div>
        <% end %>
     </div>
</div>

