<div class="page-container m-auto">
  <!-- TODO: make better/prettier -->
  <div class="alert-card">
    <div class="alert-title">
      <%= @quiz.title %>
    </div>
    <%= link_to "Start the quiz", new_quiz_quiz_result_path(@quiz), class: "wide-button green-button centered-button" %>
  </div>
  <!-- TODO: make better/prettier -->
</div>
