$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Quick Quizz colors:
$dark-purple: #2C3157;
$light-purple: #8477F0;
$very-light-purple: #D6D1FB;
$light-purple-hover: #988ee9;
$white-text: #fff;
$text-color: #1b1b1b;
$green: #41DC28;
$button-hoover-green: #119559;
$button-hoover-purple:#34426E;
$light-gray: #d6d6d6;
$pink: #D65F81;
