.question-card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 270px;
  margin: 20px 0;
  padding: 5px;
  border-radius: $border-radius;
  background-color: $light-purple;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  font-size: $big-text;
}

.input-card-title {
  display: flex;
  justify-content: center;
  font-size: $small-medium-text;
  color: $text-color;
  margin-bottom: 10px;
}

#quiz_image {
  padding-top: 40px;
}

.input-description {
  margin-bottom: 40px;
}

.input-field-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin: 0 auto;
  color: gray;
  margin-top: 5px;
}

.input-text-area::placeholder {
  height: 100%;
  resize: none;
  box-sizing: border-box;
  color: grey;
}

.input-text-area {
  width: 100%;
  background-color: rgb(239, 239, 239);
  opacity: 1;
  color: $text-color;
  font-size: $small-text;
  border-radius: $border-radius;
  height: 180px;
  padding: 15px 20px;
  vertical-align: top;
  text-align: left;
}

.file-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 20px;
}

.file-input-container input[type="file"] {
  // min-height: 170px;
  padding-top: 60px;
  padding-left: 80px;
  box-sizing: border-box;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.or-divider {
  text-align: center;
  color: $white-text;
  font-weight: bold;
  font-size: $medium-text;
  margin-top: 10px;
}

.new-quiz-submit {
  display: flex;
  justify-content: center;
  width: 100%;
}

.new-quiz-submit-button {
  // display: flex;
  // justify-content: center;
  width: 50%;
  font-weight: bold;
  position: fixed;
  bottom: 105px;
}

.file-input-container-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 20px 0;
}

.file-upload-label {
  display: inline-block;
  padding: 10px 15px;
  background-color: #8477F0;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.file-upload-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
