// Specific CSS for your home-page
.quizzes-card-home {
  background-color: $light-purple;
  width: 100%;
  // height: 180px;
  margin: 0 auto;
  padding: 10px 5px;
  border-radius: $border-radius;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.2);
}

.quizzes-donuts {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  // margin-top: 10px;
  margin-bottom: 15px;
  position: relative; /* Required for absolute positioning of pseudo-element */
}

@media (max-width: 767px) {
  .quizzes-donuts::-webkit-scrollbar {
    display: none;
  }
}

.donut-quiz-name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
          line-clamp: 3;
  -webkit-box-orient: vertical;
}

.quizzes-card-content {
  display: flex;
  flex-direction: column;
}

.quiz-donut-with-name {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 80px;
  align-items: center;
  margin: 0 5px;
  text-align: center;
  text-decoration: none;
}

.donut-home {
	--progress: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: conic-gradient($light-purple var(--progress), $very-light-purple 0 100%);
}

.donut__gap-home {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background: white;
	border-radius: 50%;
  color: $text-color;
}

.donut-text {
  text-decoration: none;
  color: $text-color;
  line-height: 16px;
  max-width: 100%;
  overflow-wrap: break-word;
  margin-top: 6px;
}

.like-comment {
  margin-top: 10px;
  color: $light-gray;
}
