.quiz-container {
  height: calc(100vh - 70px);
  background-color: $dark-purple;
  margin-top: 1rem;
  padding: 0 25px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.quizzes-container {
  margin-top: 16px;
}

.card-container {
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.quiz-card {
  background-color: $light-purple;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 5px;
  border-radius: 1rem;
  box-shadow: 8px 10px 10px rgba(255, 255, 255, 0);
}

.quiz-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quiz-content a {
  text-decoration: none;
}

.quiz-list-text {
  flex-grow: 1;
  text-decoration: none;
  color: $text-color;
  text-decoration: none;
  // max-width: 95%;
  font-size: $small-medium-text;
}

.donut {
	--progress: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: conic-gradient($light-purple var(--progress), $very-light-purple 0 100%);
  margin-left: auto;
  min-width: 80px;
}

.donut__gap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background: white;
	border-radius: 50%;
  color: $text-color;
}

.new_quiz_background {
  background-color: $green;
}

.quizzes-percentage {
  margin: 0;
  font-size: $small-text;
  color: $text-color;
}

.delete-button {
  color: $light-purple;
}
