.quiz-result-title {
  padding: 1rem 2rem;
}

.quiz-result-container {
  flex: 1;
  margin-top: 1rem;
  background-color: $dark-purple;
  color: $white-text;
  display: flex;
  flex-direction: column;
}

.donut-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.result-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.quiz-result-title {
  font-size: $medium-text;
  margin-bottom: 1rem;
}

.quiz-result-percentage {
  margin: 0;
  font-size: $big-text;
}

.quiz-result-small-text {
  display: flex;
  justify-content: center;
  font-size: $small-medium-text;
  color: white;
}

.quiz-result-xs-text {
  display: flex;
  justify-content: center;
  font-size: $xs-text;
  color: white;
  margin-bottom: 10px;
}

hr {
  width: 60%;
  border-width: 2px;
  color: white;
}
