.invisible {
  display: none;
}

.quiz-page-container {
  margin-top: 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  background-color: $dark-purple;
  color: $white-text;
  width: 100%;
}

.quiz-title {
  margin: 5px auto;
  font-size: $small-text;
}

.question-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.question-card {
  background-color: white;
  color: $text-color;
  opacity: 0.89;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 35vh;
  margin: 20px 0;
  padding: 15px 20px;
  border-radius: $border-radius;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  font-size: $big-text;
}

.question-text-area {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: $xs-text;
  margin-top: 10px;
  border: none;
  background-color: $light-purple;
  color: $white-text;
  border-radius: $border-radius;
  resize: vertical;
}

.question-text-area-picture{
  font-size: 32px;
  margin-top: 10px;
  border: none;
  background-color: $light-purple;
  color: $white-text;
  border-radius: $border-radius;
  resize: vertical;
}

.question-text-area::placeholder {
  color: $white-text;
}

.question-text-area:focus {
  outline: none;
}

#quizimage {
  text-align: center;
}

.input-wrapper {
  text-align: center;
}
