<div class="progress-center">
  <div class="progress progress-update" role="progressbar" aria-label="Example 40px high" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="height: 15px">
    <div class="progress-bar" style="width: <%= progress %>%"></div>
  </div>
</div>
