<%= @aria = 20 * index %>

<div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="<%= @aria %>" aria-valuemin="0" aria-valuemax="100" style="height: 20px">
  <div class="progress-bar" style="width: 25%"></div>
</div>
