<!-- correct / all -->
<div><%= answered_questions = @quiz_result.result.to_i %> / <%= @quiz_result.quiz.questions.count %></div>
<!-- percentage -->
<div><%= result_percentage = (@quiz_result.result / @quiz_result.quiz.questions.count * 100).to_i %> %</div>

<h1>Well done!</h1>
