.alert-container {
  height: 100%;
  margin: auto 0;
}

.alert-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $light-purple;
  margin: auto 10px;
  padding: 10px 15px;
  border-radius: $border-radius;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.alert-title {
  width: 100%;
  font-size: $medium-text;
  display: flex;
  margin: 20px 0;
  justify-content: center;
}
