.display {
  min-height: 100vh;
  padding-bottom: 60px;
  z-index: -1;
  overflow-x: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #6A5AE0 -10.0%, #1c1744 110.0%);
}

// .circle1 {
//   position: fixed;
//   right: -150px;
//   background: $light-purple;
//   border-radius: 50%;
//   width: 400px;
//   height: 400px;
//   z-index: 0;
//   filter: blur($circle-blur);
//   opacity: $circle-opacity;
//   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
// }

// .circle2 {
//   position: fixed;
//   left: -150px;
//   background: $light-purple;
//   border-radius: 50%;
//   width: 250px;
//   height: 250px;
//   filter: blur($circle-blur);
//   opacity: $circle-opacity;
//   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
// }

// .circle3 {
//   position: fixed;
//   right: -60px;
//   background: $light-purple;
//   border-radius: 50%;
//   width: 150px;
//   height: 150px;
//   filter: blur($circle-blur);
//   opacity: $circle-opacity;
//   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
// }

// .circle4 {
//   position: fixed;
//   left: -100px;
//   background: $light-purple;
//   border-radius: 50%;
//   width: 350px;
//   height: 350px;
//   filter: blur($circle-blur);
//   opacity: $circle-opacity;
//   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
// }

// .circle5 {
//   position: fixed;
//   left: 0px;
//   background: $light-purple;
//   border-radius: 50%;
//   width: 250px;
//   height: 250px;
//   filter: blur($circle-blur);
//   opacity: $circle-opacity;
//   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
// }

// .circle6 {
//   position: fixed;
//   left: 100px;
//   background: $light-purple;
//   border-radius: 50%;
//   width: 250px;
//   height: 250px;
//   filter: blur($circle-blur);
//   opacity: $circle-opacity;
//   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
// }
