.wide-button {
  display: inline;
  border: none;
  color: $white-text;
  padding: 15px 20px;
  margin: 10px 25px;
  border-radius: $border-radius;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  background-color: $light-purple;
  &:hover, &:focus {
    background-color: $light-purple-hover;
  }
}

.green-button {
  background-color: $green;
  &:hover, &:focus {
    background-color: $button-hoover-green;
  }
}

.button-center {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}
