// basic card, takes up the entire width of the container, height is determined by the content
.card-basic {
  background-color: white;
  text-decoration: none;
  color: $text-color;
  opacity: 0.89;
  width: 100%;
  margin-top: 16px;
  padding: 15px 20px;
  border-radius: $border-radius;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.2);
}


