.end-donut {
	--progress: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 256px;
	height: 256px;
	border-radius: 50%;
	background: conic-gradient($green var(--progress), $pink 0 100%);
}

.end-donut__gap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 220px;
	background: $dark-purple;
	border-radius: 50%;
}
