// Import your components CSS files here.
@import "alert";
@import "form_legend_clear";
@import "navbar";
@import "sign-up";
@import "buttons";
@import "navbars-mobile";
@import "end-of-quiz-donut-chart";
@import "logo";
@import "container";
@import "input";
@import "page-container";
@import "card-basic";
@import "alert-card";
@import "texts";
@import "background";
@import "loading";
@import "comment-like";
@import "pop-up";
@import "reveal-answer";
@import "progress-bar";
