.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid $light-purple-hover;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  z-index:1000;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinning-wheel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: $border-radius;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:1001;
}

.page-container.spinning-wheel-container {
  position: relative;
}
