.navbar-mobile {
  width: 100vw;
  background-color: $dark-purple;
  color: $white-text;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
