.navbar-top {
  height: $header-height;
  position: fixed;
  width: 100vw;
  // background-color: $dark-purple;
  color: $white-text;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  z-index: 4;
}

.navbar-shadow {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 200px;
  background: linear-gradient(0deg, rgb(0, 0, 0) 11.8%, rgba(255, 255, 255, 0) 83.8%);
  opacity: 0.2;
  z-index: 3;
  pointer-events: none;
}

.navbar-bottom {
  bottom: 20px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  max-width: 250px;
  height: 60px;
  background-color: white;
  border-radius: 30px;
  color: $text-color;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  z-index: 4;
}

.navbar-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: $text-color;
  margin: 0;
  padding: 0;
}

.navbar-button-icon {
  font-size: $large-text;
  text-align: center;
  width: 56px;
  margin: 0;
  padding: 4px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.navbar-button-icon:active {
  box-shadow:
    inset 0 4px 5px rgba(180, 180, 180, 0.4);
}


.navbar-button-text {
  font-size: $xs-text;
}
