.backgound-pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.605);
  // display: invisible;
}

.pop-up {
  opacity: 1;
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // display: invisible;
  font-size: $small-text;
}

@media (min-width: 768px) {
  .pop-up {
    width: 600px;
  }
}
