.wrapper1 {
  max-height: 100vh;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $dark-purple;
  color: $white-text;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  height: 150px;
  border-radius: 50%;
  border: $white-text solid;
}

.username {
  margin-top: 10px;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.profile-info p {
  margin-bottom: 5px;
}

.profile-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.profile-button {
  border: none;
  background-color: $light-purple;
  color: $white-text;
  width: 320px;
  padding: 15px 20px;
  border-radius: 26px;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
}

.button-icon {
  margin-right: 10px;
  max-height: 20px;
}

.button-text {
  flex: 1;
}

.profile-button:hover {
  background-color: $button-hoover-purple;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $light-purple;
  padding: 0 20px;
}

.navbar-button {
  border: none;
  background-color: $light-purple;
  color: $white-text;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: $button-hoover-purple;
}
