.result-popup {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 140px;
  z-index: 6;
  background-color: $green;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: $medium-text;
  font-weight: bold;
  color: white;
  padding-top: 20px;
  animation: slideIn 0.35s forwards, slideOut 0.35s forwards 0.8s;
}

@keyframes slideIn {
  from {
    bottom: -140px;
  }
  to {
    bottom: 0px; /* Adjust as needed */
  }
}

@keyframes slideOut {
  from {
    bottom: 0px; /* Adjust as needed */
  }
  to {
    bottom: -140px;
  }
}

@keyframes glow-green {
  from { box-shadow: 0 0 10px #41DC28; }
  to { box-shadow: 0 0 20px #41DC28; }
}

@keyframes glow-red {
  from { box-shadow: 0 0 10px #D65F81; }
  to { box-shadow: 0 0 20px #D65F81; }
}

