html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #2C3157;
}



h2 {
  text-align: center;
  margin-bottom: 30px;
  color:#fff;
}

p {
  color:#fff;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

input.btn {
  border: none;
  background-color: #41DC28;
  color: white;
  padding: 12px;
  width: 350px;
  border-radius: 26px;
  cursor: pointer;
  margin-top: 20px;
}

input.btn:hover {
  background-color: #36b822;
}

.form-control {
  border-radius: 26px;
  padding: 12px;
  border: none;
  background-color: #3F467C;
  color: white;
  margin-bottom: 10px;
  width: 100%;
}
