.xs-text {
  font-size: $xs-text;
}

.small-text {
  font-size: $small-text;
}

.medium-text {
  font-size: $medium-text;
}

.large-text {
  font-size: $large-text;
}

.big-text {
  font-size: $big-text;
}

.xl-text {
  font-size: $xl-text;
}
