.xs-text {
  font-size: $xs-text;
}

.small-text {
  font-size: $small-text;
}

.medium-text {
  font-size: $medium-text;
}

.large-text {
  font-size: $large-text;
}

.big-text {
  font-size: $big-text;
}

.xl-text {
  font-size: $xl-text;
}

.page-title-lg {
  font-size: $large-text;
  margin: 10px auto;
  color: white;
}

.recommendation-title {
  font-size: $medium-text;
  // margin: 10px auto;
  color: $text-color;
  margin-bottom: 10px;
}
