.progress-center {
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 5;
}

.progress-update {
  position: fixed;
  bottom: 30px;
  width: 75%;
  transition: width 0.7s ease;
  z-index: 100;
  box-shadow: 8px 10px 10px rgba(83, 83, 83, 0.1)
}
